body {
  background: rgb(7, 36, 63);
  margin-left: 0;
  font-family: 'Raleway';
}

h2 {
  color: #fff;
}

a {
  color: rgb(13, 94, 178);
}

.navbar ul {
  height: 50px;
}

.navbar ul li {
  display: inline-block;
  position: relative;
  float: right;
  margin: 0 70px 3px 50px;
  margin-right: 21px;
}

.nav-img {
  height: 30px;
}

.inbox {
  padding-bottom: 31px;
  border-bottom: 10px solid rgb(255, 175, 39);  
}

.sendmsg {
  opacity: 0.5;
  padding-bottom: 31px;
  border-bottom: 10px solid red;
}

.search {
  opacity: 0.5;
  padding-bottom: 31px;
  border-bottom: 10px solid green;
}

.section-header {
  overflow: hidden;
  width: 100%;
}

h1.category {
  float: left;
  margin-bottom: 1px;
}

h3.range {
  float: right;
  color: white;
  margin-bottom: 0;
  margin-right: 2.5%;
}

.footer {
  overflow: hidden;
}

.footer button.messages {
  display: inline-block;
  width: 80%;
  height: 50px;
  margin-right: -50%;
  margin-left: 2%; 
  background: rgb(7, 36, 63);
  border: none;
  background: rgb(7, 36, 63);
  color: white;
  font-size: 18px;
  text-align: left;
  float: left;
}

img.arrow {
  height: 35px;
  float: right;
  margin-top: -30px;
}

.range-arrow {
  height: 35px;
  float: right;
  background-color: rgb(5, 35, 64);
}

.footer button.send {
  background-color: rgb(65, 158, 255);
  border: none;
  color: white;
  width: 153px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  float: right;
}

.inbox-wrapper {
  height: 84vh;
  width: 100vw;
  margin: 0;
  left: 0;
  position: relative;
  background-color: rgb(18, 73, 126); 
}

h1 {
  color: white;
  font-family: arial;
  margin-left: 2%;
}

#message-container {
  height: 70vh;
  width: 95vw;
  margin: auto;
  position: relative;
  background-color: #fff;
  margin-top: -19px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.user-info {
  padding: 1.5%;
  color: rgb(102, 102, 102);
  font-weight: 100;
}

.user-timestamp {
  position: absolute;
  right: 0;
  margin-top: -2%;
  margin-right: 1.5%;
  font-weight: 900;
}

.list-group>.list-group-item:nth-child(even){
    background-color: rgb(242, 242, 242);
}​
